@import 'https://centerfordigitalhumanities.github.io/Newberry-paleography/styles/main.css';

:root {
    --color-primary: #b43d2e;
    --color-secondary: #add8e6;
    --color-link: #b43d2e;
    --color-link-active: #ffa500;
    --font-color: #002a5c;
}
.record h4 {
    margin: 0 auto;
}

.record a {
    background : var(--bg-color);
    color      : var(--color-link);
    border     : 1px solid #be3c2b;
    padding    : 3px 6px;
    text-align : center;
    font-weight: bold;
    transition: all .25s;
}

.record a:hover {
    background : var(--color-link);
    color      : var(--bg-color);
}
